.app-summonerContent_matches-game {
  margin: 10px;
}

.app-summonerContent_matches-game_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 0;
  border-radius: 5px;
}

.app-summonerContent_matches-game_content.win {
  background: var(--bg-gradient-win);
}
.app-summonerContent_matches-game_content.win:hover {
  background: var(--bg-gradient-winhover);
}

.app-summonerContent_matches-game_content.defeat {
  background: var(--bg-gradient-defeat);
}
.app-summonerContent_matches-game_content.defeat:hover {
  background: var(--bg-gradient-defeathover);
}

.app-summonerContent_matches-game_content-team {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 55px;

  font-family: var(--fml-font);
  font-weight: 600;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  border-radius: 8px;
  box-shadow: var(--sd-tiny);
}
.app-summonerContent_matches-game_content-team.blueteam {
  background: var(--blueteam-color);
}
.app-summonerContent_matches-game_content-team.redteam {
  background: var(--redteam-color);
}

.app-summonerContent_matches-game_content > p {
  margin-left: 20px;
}

.app-summonerContent_matches-game_content > img {
  width:  50px;
  height: 50px;

  margin: 10px;
  border-radius: 5px;
  box-shadow: var(--sd-tiny);
}
.app-summonerContent_matches-game_content-kda > span {
  font-weight: 300;
}

.app-summonerContent_matches-game_content-items {
  display: flex;
  width: 80px;
  flex-wrap: wrap;
}

.app-summonerContent_matches-game_content-items > img {
  width: 20px;
  height: 20px;
  margin: 2px 2px;
  border-radius: 2px;
  border: 1px solid black;
}

.app-summonerContent_matches-game_content-items > .empty-box {
  width: 20px;
  height: 20px;
  margin: 2px 2px;
  background: black;
  border: 1px solid black;
  opacity: 0.5;
  border-radius: 2px;
}

.app-summonerContent_matches-game_content > .imgItem {
  width: 23px;
  height: 23px;
  border: 2px solid black;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}

.app-summonerContent_matches-game_content-kda {
  font-family: var(--fml-font);
  font-weight: 600;
}
