.banner_1, .banner_2, .banner_3, .banner_4 {
  width: 100%;
  height: 100px;

  background: url(https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: 100%;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.2), -10px -10px 10px rgba(0,0,0, 0.2);
}

.banner_1 {
  position: absolute;
  top: 50px;

  transform: skewY(5deg);
  z-index: -200;
}
.banner_2 {
  position: absolute;
  top: 183px;

  transform: skewY(-5deg);
  z-index: -200;
}
.banner_3 {
  position: absolute;
  top: 330px;

  transform: skewY(5deg);
  z-index: -200;
}
.banner_4 {
  position: absolute;
  top: 500px;

  transform: skewY(-5deg);
  z-index: -200;
}


/** ---------------------------------------------------------------------------------------------- */

.banner1 {
  position: absolute;

  background: url(https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: 0;

  width: 100%;
  height: 25%;

  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.2), -10px -10px 10px rgba(0,0,0, 0.2);
  transform: skewY(-5deg);
  animation: topdown1 40s linear infinite;
  z-index: -200;
}
@keyframes topdown1 {
  0% {
		top: 0px;
	}

	50% {
		top: 350px;
	}

  100% {
		top: 0px;
  }
}
@keyframes topdown2 {
  0% {
		top: 20px;
	}

	50% {
		top: 300px;
	}

  100% {
		top: 20px;
  }
}