.modal_game-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.modal_game-content > header > h1 {
  color: white;
  font-family: var(--fml-font);
}

.modal_game-content_teams {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;

  color: white;
  font-family: var(--fml-font);
}