.app-nav {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 30px 0;
  background: var(--bg-nav);
  backdrop-filter: blur(1px);
  box-shadow: var(--sd-medium);
  z-index: 3000;
}

.app-nav_logo > a{
  color: #fff;
  font-size: 22px;
  font-family: var(--fml-font);
  font-weight: 600;
  text-decoration: none;
}