:root {
  /* Backgrounds */
  --bg-color: #151515;
  --bg-nav: #0000008c;
  --bg-white: rgba(224, 224, 224);
  --bg-op8-white: rgba(224, 224, 224, 0.8);
  --bg-blur-white: rgba(95, 95, 95, 0.253);

  --bg-gradient:  linear-gradient(217deg, rgba(255, 77, 130), rgba(255,0,0,0) 70.71%),
                  linear-gradient(336deg, rgba(60, 167, 255), rgb(60, 167, 255) 70.71%);

  --bg-gradient-rgba: linear-gradient(217deg, rgba(255, 77, 130, 0.1), rgba(255,0,0,0) 70.71%),
                      linear-gradient(336deg, rgba(60, 167, 255, 0.1), rgba(60, 167, 255, 0.1) 70.71%);

  --bg-gradient-winhover: linear-gradient(217deg, rgba(255, 77, 130, 0), rgba(255, 0, 0, 0) 70.71%),
                          linear-gradient(336deg, rgba(60, 255, 86, 0), rgba(44, 173, 233, 0.7) 70.71%);
  --bg-gradient-win: linear-gradient(217deg, rgba(255, 77, 130, 0), rgba(255, 0, 0, 0) 70.71%),
                     linear-gradient(336deg, rgba(60, 255, 86, 0), rgba(44, 173, 233, 0.3) 70.71%);

  --bg-gradient-defeathover:  linear-gradient(217deg, rgba(255, 77, 130, 0), rgba(255, 0, 0, 0) 70.71%),
                              linear-gradient(336deg, rgba(60, 255, 86, 0), rgba(236, 33, 33, 0.7) 70.71%);
  --bg-gradient-defeat:  linear-gradient(217deg, rgba(255, 77, 130, 0), rgba(255, 0, 0, 0) 70.71%),
                         linear-gradient(336deg, rgba(60, 255, 86, 0), rgba(236, 33, 33, 0.3) 70.71%);
  /* Colors */
  --blueteam-color: rgba(11, 150, 231, 0.7);
  --redteam-color: rgba(248, 34, 34, 0.7);
  /* Shadows */
  --sd-hard:  10px 10px 20px rgb(0, 0, 0);
  --sd-medium:  10px 10px 20px rgba(0, 0, 0, 0.5);
  --sd-tiny:  10px 10px 20px rgba(0, 0, 0, 0.301);
  /* Fonts*/
  --fml-font: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-thumb {
    background: var(--bg-gradient);
    border-radius: 4px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-track {
    background: #e1e1e113;
    border-radius: 4px;
}

.container-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding: 15px;
}

.grid-center {
  display: grid;
  place-content: center;
}

.msg-error {
  padding: 10px;
  margin: 10px 0;
  font-family: var(--fml-font);
  color: #e91e63;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.height-150 {
  height: 150px;
}