@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

body {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  background: #161623;
}

button, input, select, option {
  outline: none;
}